body{
  padding: 0%;
  margin: 0%;
  background: linear-gradient(to bottom, #e6f7ff, #ffffff);
}
.container{
  display: flex;
}
.p-rowgroup-header{
  background: grey;
}
.card {
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5%;
  background-color: #fff;
  width: 50%;
}

/* Styling table header */
th {
  background-color: #222020;
  color: white;
  padding: 0.5%;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-align-last: center;
}

/* Styling table rows */
td {
  padding: 0.3%;
  font-size: 13px;
  border-bottom: 1px solid #e0e0e0;
}

/* Hover effect on rows */
tr:hover {
  background-color: #b2adad;
}





.sidebar {
  max-width: 65%;
  background-color: #f0f0f0;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.menu li a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.menu li a:hover {
  color: #666;
}

.menu li.active {
  background-color: #ddd;
}